$primary-color: #BCC7e7;
$secondary-color: #545f77;
$thirty-color: #434a5a73;
$background-color: #f7f7f7;
$box-background-color: #eeeef2a2;
$font-color: $secondary-color;

$desctop-screen: 1100px;
$tablet-screen: 768px;
$mobile-screen: 480px;

$max-desctop-screen: 1100px;
$max-tablet-screen: 768px;
$max-mobile-screen: 480px;
